/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu|Varela+Round&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Varela Round", sans-serif;
  --ff-secondary: "Ubuntu", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-primary-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
=============== 
section
===============
*/
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  padding: 2rem;
  margin: 3rem auto;
  max-width: 35rem;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.section-center:hover {
  box-shadow: var(--dark-shadow);
}
.section-center h3 {
  color: var(--clr-primary-1);
  margin-bottom: 1.5rem;
  text-align: center;
}

/*
=============== 
status
===============
*/
.status {
  display: flex;
  justify-content: center;
}
.status-unit {
  text-align: center;
  width: 30%;
  padding: 0.5rem;
  background: var(--clr-grey-10);
  border-radius: var(--radius);
}
.status-unit:nth-child(2) {
  margin: 0 5%;
}
.status-unit h4 {
  color: var(--clr-primary-4);
}
.status-unit i {
  color: var(--clr-grey-7);
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
.status-unit p {
  font-size: 1rem;
  line-height: 1.9rem;
  margin-bottom: 0;
  color: var(--clr-black);
}
.status-unit span {
  font-size: 1.5rem;
}

/*
=============== 
budget form
===============
*/
.budget-update-container,
.budget-submit-container {
  justify-content: center;
}
.budget-submit-btn,
.budget-update-btn {
  background: var(--clr-primary-8);
  border-color: transparent;
  flex: 0;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  margin-left: 0.4rem;
  border-radius: var(--radius);
  cursor: pointer;
  content: var(--clr-primary-5);
  transition: var(--transition);
  font-size: 0.85rem;
}
.budget-submit-btn:hover,
.budget-update-btn:hover {
  background: var(--clr-primary-5);
}
.budget-submit-btn i,
.budget-update-btn i {
  color: var(--clr-black);
  font-size: 0.85rem;
  width: 0.85rem;
  margin-bottom: 0;
}
.budget-submit-btn:hover i,
.budget-update-btn:hover i {
  color: var(--clr-white);
}
.budget-input {
  padding: 0.25rem;
  background: var(--clr-white);
  border-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  flex: 0 auto;
  color: var(--clr-grey-5);
  width: 80%;
}
.budget-input::placeholder {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-8);
}

.budget-form .budget-update-container {
  display: none;
}
.budget-form .budget-submit-container {
  display: flex;
}
.budget-form.show-budget-update .budget-update-container {
  display: flex;
}
.budget-form.show-budget-update .budget-submit-container {
  display: none;
}

/*
=============== 
expense form
===============
*/
.expense-form-container {
  background: var(--clr-grey-10);
  border-radius: var(--radius);
  padding: 0.5rem;
}
.expense-form input {
  padding: 0.25rem 0.5rem;
  background: var(--clr-white);
  border-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: var(--clr-grey-5);
}
.expense-form input::placeholder {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-8);
}
.form-row {
  display: flex;
}
.form-row:nth-child(1) {
  margin-bottom: 0.5rem;
}
.form-row .expense-name {
  flex: 100%;
}
.form-row .expense-amount {
  flex: 49%;
}

.form-row .expense-submit-btn {
  background: var(--clr-primary-8);
  border-color: transparent;
  flex: 49%;
  margin-left: 2%;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: var(--radius);
  cursor: pointer;
  content: var(--clr-primary-5);
  transition: var(--transition);
  font-size: 0.85rem;
}
.form-row .expense-submit-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}

/*
=============== 
alert
===============
*/
.alert {
  margin: 0.5rem 0;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}

/*
=============== 
expense container
===============
*/
.expense-container {
  margin-top: 2rem;
  transition: var(--transition);
  visibility: hidden;
}
.show-container {
  visibility: visible;
}
.list-item,
.list-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: capitalize;
}
.list-item-title {
  border-radius: 0;
  border-bottom: 1px solid var(--clr-grey-8);
}
.list-item:hover {
  color: var(--clr-grey-5);
  background: var(--clr-grey-10);
}
.list-item:hover .title {
  color: var(--clr-grey-5);
}
.name,
.amount,
.action {
  margin-bottom: 0;
  color: var(--clr-grey-1);
  letter-spacing: 1px;
  transition: var(--transition);
}
.name {
  flex: 63%;
}
.amount {
  flex: 22%;
  text-align: right;
}
.btn-container,
.action {
  flex: 15%;
  text-align: center;
}
.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit-btn {
  color: var(--clr-green-light);
}
.edit-btn:hover {
  color: var(--clr-green-dark);
}
.delete-btn {
  color: var(--clr-red-light);
}
.delete-btn:hover {
  color: var(--clr-red-dark);
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-light);
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: var(--clr-red-dark);
}

/*
=============== 
responsive
===============
*/
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
@media screen and (max-width: 620px) {
  .section-center {
    width: 95vw;
    padding: 1rem 0.5rem;
    margin: 1rem auto;
  }
  .status-unit {
    width: 32%;
  }
  .status-unit:nth-child(2) {
    margin: 0 2%;
  }
  .status-unit p {
    font-size: 0.6rem;
  }
  .status-unit span {
    font-size: 1rem;
  }
}
